.square{
  border: solid white 1px;
  display: inline-block;
  width: 30%;
  height: width;
  font-size: 85px;
  font-family: 'Fredericka the Great', serif;
}
.board{
  padding:40px;
  width: 475px;
  margin: auto;
}
