@import "./colors";
@import "./fonts";

.square {
  border: hidden $chalk-white 1px;
  display: inline-block;
  width: 30%;
  height: 30%;
  font-size: 75px;
  font-family: $bigfont, serif;
}

.board{
  width: 400px;
  height: 400px;
  padding:0;
  margin: auto;
}


/*for mobile, use max-width 400*/
