@import './colors';
@import './fonts';

.square {
  border: hidden $chalk-white 1px;
  display: inline-block;
  font-family: $bigfont, serif;
  font-size: 75px;
  height: 30%;
  width: 30%;
}

.board {
  height: 400px;
  margin: auto;
  padding: 0;
  width: 400px;
}
@media (min-width: 900px) {
  .board {
    height: 600px;
    margin: auto;
    padding: 0;
    width: 600px;
  }
}
