@import './colors';
@import './fonts';

body {
  background: $chalkboard-green;
  color: $chalk-white;
  text-align: center;
  font-family: $smallfont, cursive;
}

button {
  color: $chalkboard-green;
  background-color: $chalky;
}

h1 {
  font-family: $bigfont, serif;
  font-size: 75px;
  font-weight:normal;
}
input {
  color: $chalkboard-green;
}
section {
  padding: 20px;
}
form {
  padding: 20px;
}
input {
  margin: 5px;
  background-color: $chalk-white;
}
.error, .alert {
  color: $alerts;
}
.winners {
  margin: 100px;
  border: dashed $alerts 3px;
  padding: 50px;
}
.statcount {
  color: $alerts;
}
