@import './colors';
@import './fonts';

body {
  background: $chalkboard-green;
  color: $chalk-white;
  font-family: $smallfont, cursive;
  text-align: center;
}

button {
  background-color: $chalkboard-green;
  border: dashed 2px $alerts;
  color: $chalk-white;
  font-size: 20px;
}

h1 {
  font-family: $bigfont, serif;
  font-size: 75px;
  font-weight: normal;
}

section {
  padding: 20px;
}

form {
  padding: 20px;
}

input {
  background-color: $chalk-white;
  color: $chalkboard-green;
  font-size: 20px;
  margin: 5px;
}

.error,
.alert {
  color: $alerts;
}

.winners {
  border: dashed $alerts 3px;
  margin: 100px;
  padding: 50px;
}

.statcount {
  color: $alerts;
}

p {
  font-size: 20px;
}
